body {
    background-color: #f5f8fa;
}

.title-bar {
    background-color: #3097d1;
    border-color: #1c73a5;
    color: #fefefe;
    padding: .5rem;
}

.off-canvas {
    background-color: #3097d1;
    height: 100%;
}

.off-canvas > .vertical.menu > li > a {
    color: #fff;
}

.dropdown.menu .submenu {
    background-color: #3097d1;
}

.off-canvas > .vertical.menu > li > .submenu > .title {
    background-color: #3E81A7;
    padding: 10px;
    padding-left: 15px;
    color: #fff;
}

.off-canvas > .vertical.menu > li > .submenu > li > a {
    color: #fff;
}

.off-canvas-content {
    padding-top: 15px;
    background-color: #f5f8fa;
    box-shadow: none;
    min-height: 100vh;
}

thead {
    background-color: #fff;
}